* {
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #0B0223;
    --button-color: #E02C6D;
    --white-color: #ffffff;
    --black: #000000;
    --grey: #534C64;
    --pink-color: #FF42A5;


    --heading-95px: 7.8rem;
    --title-size-48px: 4rem;
    --btn-foot-des-size-20px: 1.2rem;
    --description-size-18px: 1.1rem;
    --featured-size-38: 2.4rem;

    --heading-weight-800: 800;
    --title-weight-700: 700;
    --sub-title-600: 600;
    --footer-weight-500: 500;
    --description-weight-400: 400;
}
body {
    max-width: 1440px;
    
}
/* ==============
header start
================= */
header {
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    height: 70px;
}
nav {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    padding: 0 170px;
}
nav > ul {
    display: flex;
    align-items: center;
}
nav ul li {
    list-style: none;
    margin-right: 35px;
    font-weight: var(--footer-weight-500);
    font-size: var(--description-size-18px);
}
nav ul li a {
    text-decoration: none;
    color: #3C354F;
}
.gamer-logo {
    font-size: 45px;
    font-weight: var(--title-weight-700);
}
.gamer-logo .gamer-g {
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.gamer-logo:before {
    content: url(../../b8a2-fils/images/Frame.png);
    display: inline-block;
    margin-right: 15px;
}
.gamer-button {
    border: 0;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 17px 24px;
    font-size: var(--description-size-18px);
    font-weight: var(--footer-weight-500);
}
.gamer-button i {
    margin: 0 10px;
}
/* ==============
header End
================= */
/* ==============
Play link start
================= */
main {
    padding: 0 170px;
}
section {
    margin-top: 60px;
}
.play-container {
    display: flex;
    gap: 60px;
    align-items: center;
}
.play-title {
    color: var(--primary-color);
    font-size: var(--title-size-48px);
    font-weight: var(--sub-title-600);
}
.play-heading {
    color: var(--secondary-color);
    font-size: var(--heading-95px);
    font-weight: var(--heading-weight-800);
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.play-img img {
    width: 100%;
    /* margin-right: auto 0; */
}

.play-icon1, .play-icon2, .play-icon3 {
    font-size: var(--btn-foot-des-size-20px);
    font-weight: var(--footer-weight-500);
    color: var(--grey);
    line-height: 2;
}
.play-list .play-icon1::before {
    content: "\f144";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 10px;
    background-color: var(--button-color);
    color: var(--primary-color);
    border-radius: 30px;
}
.play-list .play-icon2::before {
    content: "\f019";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 10px;
    /* background-color: var(--button-color); */
    color: var(--primary-color);
    border-radius: 30px;
}
.play-list .play-icon3::before {
    content: "\f144";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 10px;
    color: var(--grey);
}
.play-button {
    margin-top: 30px;
}
.sign-in {
    padding: 21px 40px;
    color: var(--white-color);
    background-color: var(--pink-color);
    border-radius: 48px;
    border: 0;
    font-size: var(--btn-foot-des-size-20px);
    font-weight: var(--sub-title-600);
    margin-right: 20px;
}
.go-rogue {
    padding: 21px 40px;
    color: var(--white-color);
    background-color: #4EC5F7;
    border-radius: 48px;
    border: 0;
    font-size: var(--btn-foot-des-size-20px);
    font-weight: var(--sub-title-600);
}
/* ==============
Play link End
================= */

.gamer-container {
    display: flex;
    gap: 50px;
    text-align: center;
}
.gamer-image img {
    width: 100%;
}
.gamer-content {
    text-align: center;
}